<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quizgo</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <div class="logo">
            <h1>quizgo</h1>
        </div>
        <div class="profile">
            <a href="/user">Back</a>
        </div>
    </nav>
    <main score="{{.score}}">
        <table>
            <tr>
                <th>Email</th>
                <th>Easy quizzes</th>
                <th>Medium quizzes</th>
                <th>Hard quizzes</th>
                <th>Completion time</th>
                <th>Score</th>
            </tr>
        </table>
        <button class="load-more-btn button-key">Load more</button>
    </main>
</body>
<script src="/static/leaderboard.js"></script>

</html>
